.avatar {
	background-position: center;
	background-repeat: no-repeat;

	border: 2px solid rgb(73, 67, 67);
	background-image: url("../../../image/my_photo1.jpg");
}
// .avatar-container {
// 	display: flex;
// 	align-items: center;
// 	align-content: center;
// 	justify-content: space-around;
// }
