svg {
  width: 18px;
  height: 18px;
}

.dashbord-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #ee9612;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashbord-layout .side-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  height: 100%;
}

.dashbord-layout .main-container {
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.dashbord-layout .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.dashbord-layout .logo {
  padding: 2%;
  font-weight: bolder;
}

.dashbord-layout .nav-container {
  margin-top: 15px;
  padding-left: 14%;
  color: black;
}

.dashbord-layout .nav-container .nav-item {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashbord-layout .nav-container .nav-item .navItem-name {
  padding-left: 5%;
}

.dashbord-layout .nav-container .nav-item:hover {
  color: black;
  font-weight: bold;
  border-right: 3px solid #070707;
}

.dashbord-layout .nav-container .nav-item.select {
  color: black;
  font-weight: bold;
  border-right: 3px solid #070707;
}

.dashbord-layout .nav-container a {
  text-decoration: none;
  color: #331e1e;
}

.dashbord-layout .side-bar-image {
  width: 100%;
  height: 100%;
  background-image: url(../../image/hems.svg);
}

.avatar {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-image: url("../../../image/my_photo1.jpg");
}

.avatar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.information-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.information-container .avather-container1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.information-container .information-icone {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.information-container button {
  width: 80%;
  padding: 8px;
  border-radius: 15px;
  background-color: orange;
  border: none;
  -ms-flex-line-pack: center;
      align-content: center;
}

.avatar {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 45px;
  border-radius: 50%;
  background-image: url("../../../../image/my_photo1.jpg");
}

.details {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.details p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.send-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 10px;
}

input {
  margin-right: 10px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 8px;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  border: 1px solid black;
  background-color: orange;
}

.greeting span {
  font-weight: bold;
}

.greeting button {
  width: 30%;
  border: none;
  background-color: orange;
  font-weight: bold;
  cursor: pointer;
}

.greeting .greeting-image {
  width: 250px;
  height: 200px;
  background-image: url("../../image/hrms.png");
}

.home-container {
  width: 100%;
  height: 100vh;
}

.home-container .H_caintainer {
  width: 100%;
  height: 10%;
}

.home-container .main-container {
  width: 98%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid black;
}

.home-container .main-container .right-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-container .main-container .right-container .greeting_container {
  width: 100%;
  height: 40%;
  border: 1px solid black;
}

.home-container .main-container .side-container {
  border: 1px solid black;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-container .main-container .information-c {
  border-radius: 10%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

table {
  border: 1px solid black;
}
/*# sourceMappingURL=main.css.map */